<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Sobre mi</h2>
  <hr class="mb-4 border-zinc-600">
  
  <div class="flex flex-col md:flex-row md:gap-6 items-start">
    <div class="flex-1 mb-6 md:mb-0">
      <p class="leading-6 text-base text-pretty mb-3 text-zinc-400">
       Desarrollador de software con más de dos años navegando principalmente en el ecosistema .NET, <strong class="text-zinc-100 font-medium">me especializo en crear experiencias web</strong> que realmente resuelven problemas. Mi curiosidad me lleva constantemente a explorar nuevas tecnologías con la mentalidad de que cada desafío es una oportunidad para crecer.
      </p>
      <p class="leading-6 text-base text-pretty mb-3 text-zinc-400">
        Entiendo la importancia de traducir requisitos técnicos en soluciones que cualquier usuario pueda entender y utilizar. Me fascina resolver problemas complejos y disfruto mucho optimizando soluciones adaptándome a las tecnologías disponibles.
      </p>
    </div>
    
    <div class="flex-shrink-0 md:self-start">
      <div class="w-24 h-24 md:w-28 md:h-28 rounded-full overflow-hidden border-2 border-zinc-600 mx-auto md:mx-0">
        <img 
          src="/brayanhl.png" 
          alt="Foto de perfil"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>