---
import Github from "@assets/icons/github.astro"
import Email from "@assets/icons/email.astro"
import ContainerHover from "@components/ContainerHover.astro"
import Linkedin from "@assets/icons/linkedin.astro"
---

<nav class="w-full flex justify-between items-center">
  <ContainerHover link="#">
    <img 
      src="/logo.png" 
      alt="BHL Logo" 
      class="h-8 w-auto"
    />
  </ContainerHover>
  <div class="flex gap-3 items-center">
    <ContainerHover link="mailto:brayanhdzlpz17@gmail.com">
      <Email />
    </ContainerHover>
    <ContainerHover link="https://github.com/brayanhl17">
      <Github />
    </ContainerHover>
    <ContainerHover link="https://www.linkedin.com/in/brayan-hernández-lópez">
      <Linkedin />
    </ContainerHover>
  </div>
</nav>
