---
import ProjectCard from '@components/ProjectCard.astro'
import Aspnet from '@assets/icons/aspnet.astro';
import Net from '@assets/icons/net.astro';
import Javascript from '@assets/icons/javascript.astro';
import Html from '@assets/icons/html.astro';
import Css from '@assets/icons/css.astro';
import Angular from '@assets/icons/angular.astro';
import Bootstrap from '@assets/icons/bootstrap.astro';
import Blazor from '@assets/icons/blazor.astro';
import Sqlserver from '@assets/icons/sqlserver.astro';
import Csharp from '@assets/icons/csharp.astro';
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Proyectos</h2>
  <hr class="mb-6 border-zinc-600">

  <ProjectCard projectTitle="Sistema de Biblioteca" projectDescription="Sistema para gestión de biblioteca escolar que permite administrar estudiantes, préstamos y libros. Utiliza Entity Framework, .NET 9 y Blazor Server." projectLink="https://github.com/brayanhl17/BibliotecaMVP" image="/images/Biblioteca.png">
    <Blazor />
    <Net />
    <Csharp/>
    <Html/>
    <Css />
  </ProjectCard>

  <ProjectCard projectTitle="Login con JWT" projectDescription="Login desarrollado con Angular 17 que consume API creada con .NET 8 que permite ingresar o registrar usuarios implementando Jason Web Token para añadir mayor seguridad." projectLink="https://github.com/brayanhl17/Login-JWT" image="/images/Jwt.png">
    <Angular />
    <Net />
    <Sqlserver />
  </ProjectCard>

  <ProjectCard projectTitle="Tiermaker" projectDescription="Web para crear tier lists utilizando drag & drop utilizando Vanilla JavaScript únicamente. Permite añadir imágenes seleccionándolas o arrastrándolas, recargar y guardar la tier list en una imagen." projectLink="https://brayanhl17.github.io/Tiermaker" image="/images/Tiermaker.png">
    <Html/>
    <Javascript />
    <Css />
  </ProjectCard>

  <ProjectCard projectTitle="Pasarela de pago" projectDescription="Pasarela de pago donde se realiza la integración de Mercado Pago Checkout API en una aplicación de .NET 8 utilizando ASP.NET Core." projectLink="https://github.com/brayanhl17/PasarelaMercadoPago" image="/images/Pasarela.png">
    <Net />
    <Bootstrap />
    <Sqlserver />
    <Aspnet />
  </ProjectCard> 
</section>
